body {
    background-color:#b0c4de;
}
/*link*/
 a:link {
    color:#0000FF;
}
 a:visited {
    color:#DC143C;
}
 a:hover {
    color:#FF00FF;
}
 a:active {
    color:#0000FF;
}
/*bg*/
 a:link {
    background-color:#E6E6FA;
}
